.slider-block {

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


    .navigation-slider .navigation.active svg circle {
        fill: #D75C00;
    }

    .slide-item .overlay-content-wrapper {
        opacity: 0;
        transition: opacity .4s ease;
    }

    .slide-item.active .overlay-content-wrapper {
        opacity: 1;
    }

    .slide-item .overlay-button-wrapper {
        rotate: 0deg;
        transition: all .4s ease;
    }
    .slide-item.active .overlay-button-wrapper {
        rotate: 45deg;
    }

    




    .image-wrapper {
        padding-top: 150%;
    }
    @media(max-width: 1024px) {
        .object-left {
            object-position: left;
        }
        .object-right {
            object-position: right;
        }
        .object-center {
            object-position: center;
        }
    }
    @media(min-width:768px) {
        .image-wrapper {
            padding-top: 100%;
        }
    }
    @media(min-width: 1024px) {
        .image-wrapper {
            padding-top: 60%;
        }
    }
}
