.text-hover-block {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .content-wrapper:not(:last-child) {
        border-right: 1px solid #ffffff4f;
    }
    .overlay-bg-before::before {
        content: "";
        position: absolute;
        z-index: 2;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
    }

    @media (min-width: 768px) {
        .md\:col-span-5 {
            grid-column:span 5/span 5
        }
    
        .md\:col-span-7 {
            grid-column: span 7/span 7
        }
    
        .md\:h-full {
            height: 100%
        }
    
        .md\:pt-0 {
            padding-top: 0
        }
    
        .md\:pt-\[50\%\] {
            padding-top: 50%
        }
    }
    
    @media (min-width: 1024px) {
        .lg\:col-span-5 {
            grid-column:span 5/span 5
        }
    
        .lg\:col-span-7 {
            grid-column: span 7/span 7
        }
    
        .lg\:mb-0 {
            margin-bottom: 0
        }
    
        .lg\:flex {
            display: flex
        }
    
        .lg\:w-\[50vw\] {
            width: 50vw
        }
    
        .lg\:flex-row {
            flex-direction: row
        }
    
        .lg\:px-12 {
            padding-left: 3rem;
            padding-right: 3rem
        }
    
        .lg\:px-16 {
            padding-left: 4rem;
            padding-right: 4rem
        }
    
        .lg\:px-9 {
            padding-left: 2.25rem;
            padding-right: 2.25rem
        }
    
        .lg\:pr-12 {
            padding-right: 3rem
        }
    
        .lg\:pt-\[420px\] {
            padding-top: 420px
        }
    
        .lg\:pt-\[75\%\] {
            padding-top: 75%
        }
    }
    
    @media (min-width: 1280px) {
        .xl\:col-span-3 {
            grid-column:span 3/span 3
        }
    
        .xl\:col-span-4 {
            grid-column: span 4/span 4
        }
    
        .xl\:col-span-8 {
            grid-column: span 8/span 8
        }
    
        .xl\:mb-8 {
            margin-bottom: 2rem
        }
    
        .xl\:block {
            display: block
        }
    
        .xl\:hidden {
            display: none
        }
    
        .xl\:h-\[600px\] {
            height: 600px
        }
    
        .xl\:h-screen {
            height: 100vh
        }
    
        .xl\:items-center {
            align-items: center
        }
    }
}